#controls {
  display: flex;
  flex: 1;
  width: 200px;

  .item {
    margin: 5px;
  }
   #color-picker {
     display: flex;
     align-items: center;
     height: 40px;
     margin: 5px;
     .color-option {
       width: 25px;
       height: 25px;
       display: block;
     }
   }
}


