<main style="display: flex">
    <div style="flex:1">
        <section>
            <app-toolbar  redoDisabled="{{store.redoHistory.length === 0}}"
                         undoDisabled="{{store.undoHistory.length === 0}}"
                         (undoEvent)="undo()"
                         (redoEvent)="redo()"
                         (colorHandler)="setColor($event)"
                        >

            </app-toolbar>

            <button (click)="cleanHistory()">
                CLEAN history
            </button>
        </section>
        <section>
            <canvas #painter id="painter"></canvas>
        </section>
    </div>
    <aside style="width: 338px">
        <app-img-picker #imgPicker [imgs]="imgs" (imgSelectEvent)="setImg($event)"></app-img-picker>
    </aside>

</main>




